[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def get_widget
    def connectWidgets
    def getGuiParams
    def setGuiParams

omit =
  point_spectra_gui/ui/*
  point_spectra_gui/core/DataTable.py
  point_spectra_gui/util/BasicFunctionality.py
  point_spectra_gui/util/colormaps.py
  point_spectra_gui/util/delete.py
  point_spectra_gui/util/excepthook.py
  point_spectra_gui/util/themes.py
  point_spectra_gui/util/Worker.py
